/* TESTIMONIALS */

.text-box-testimonials {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  max-width: 50rem;
  margin: 6.4rem auto;

  &__top-testimonials {
    font-size: 2.8rem;
    font-weight: 400;
    transform: translateX(7rem);
  }

  &__main-testimonials {
    font-size: 4rem;
    color: $color-blue-lighter;
    text-transform: uppercase;
    text-align: center;
  }

  &__bottom-testimonials {
    text-align: right;
    font-size: 2.8rem;
    font-weight: 400;
    transform: translateX(-8rem);
  }
}

.testimonial {
  margin: 7rem 0;
  text-align: center;

  &__height {
    /* height: 450px; */
    padding-bottom: 4rem;
    /* margin-bottom: 300px; */
  }

  &__image {
    width: 15rem;
    clip-path: circle();
    margin: 2rem;
  }

  &__text {
    font-size: 1.9rem;
    line-height: 1.5;
    font-weight: 400;
    /* width: 60%; */
    /* text-align: center; */
    /* width: 50%; */
  }

  &__name {
    font-size: 1.8rem;
    color: $color-blue-lighter;
    text-align: right;
  }
}
