* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we always want to specify everything Font related in the Body element instead of the Universal selector */
body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #395b64;
  /* background-color: black; */
  padding: 3% 9%;
}

/* NAVBAR */

.dark-text {
  color: #395b64;
}

.upper-text {
  text-transform: uppercase;
}
/* .nav-link {
  margin-right: 10px;
} */

.nav-link:hover {
  color: #5f94a1;
}
.nav-link:focus {
  color: #395b64;
}

.dropdown-menu {
  border: none;
}

/* TITLE  */

#title .container-fluid {
  text-align: center;
}

.large-text {
  font-size: 5rem;
  color: #a5c9ca;
}

.title-text {
  display: inline-block;
  margin-top: 6%;
}

.small-text {
  font-size: 1.3rem;
}

/* LATEST WORK  */

.rectangular-img {
  /* display: block; */
  /* width: 250px;
  height: 350px; */
  width: 70%;
}

.latest-work-position {
  margin-top: 7%;
}

.latest-work-img {
  width: 70%;
}

/* HR  */
.hr-circle {
  margin-top: 2%;
}
