* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we always want to specify everything Font related in the Body element instead of the Universal selector */

/* html,
body {
  position: relative;
  height: 100%;
} */

img {
  max-width: 100%;
}
body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #606c6c;
  /* background-color: black; */
  padding: 3% 9%;
}

/* NAVBAR */

.dark-text {
  color: #606c6c;
}

.upper-text {
  text-transform: uppercase;
}
/* .nav-link {
  margin-right: 10px;
} */

.nav-link:hover {
  color: #5f94a1;
}
.nav-link:focus {
  color: #395b64;
}

.dropdown-menu {
  border: none;
  background-color: transparent;
}

/* TITLE  */

/* #title .container-fluid {
  position: relative;
} */
.header {
  position: relative;
  height: 30vh;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary-top {
  font-size: 1.3rem;
  font-weight: 400;
  display: block;
  transform: translateX(-55px);
  animation: moveInLeftHeader 1.5s ease-out;
  /* animation-delay: 0.3s; */
}
.heading-primary-main {
  font-size: 5rem;
  display: block;
  text-transform: uppercase;
  color: #a5c9ca;
  animation: moveInLeft 1s ease-out;
}
.heading-primary-bottom {
  font-size: 1.3rem;
  font-weight: 400;
  display: block;
  transform: translateX(355px);
  animation: moveInRightHeader 1.5s ease-out;
}

/* .large-text {
  font-size: 5rem;
  color: #a5c9ca;
} */

/* .title-text {
  display: inline-block;
  margin-top: 6%;
} */

/* .small-text {
  font-size: 1.3rem;
} */

/* LATEST WORK  */

.latest-work-text {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 5%;
  color: #606c6c;
}

/* SLIDER  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  /* height: 100%; */
  object-fit: cover;
}

:root {
  --swiper-theme-color: #606c6c;
}

/* ABOUT */

.about {
  position: relative;
}

.text-box-other {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
}

.text-top {
  font-size: 1.3rem;
  font-weight: 400;
  display: block;
  transform: translateX(-30px);
  /* animation: moveInLeftHeader 1.5s ease-out; */
}
.text-main {
  font-size: 5rem;
  display: block;
  color: #a5c9ca;
  text-transform: uppercase;
}
.text-bottom {
  font-size: 1.3rem;
  font-weight: 400;
  display: block;
  transform: translateX(110px);
}

/* HR  */
.hr-circle {
  margin-top: 2%;
}

/* ANIMATION */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeftHeader {
  0% {
    opacity: 0;
    transform: translateX(-155px);
  }
  100% {
    opacity: 1;
    transform: translateX(-55px);
  }
}
@keyframes moveInRightHeader {
  0% {
    opacity: 0;
    transform: translateX(430px);
  }
  100% {
    opacity: 1;
    transform: translateX(355px);
  }
}
