body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  color: $color-grey;
  /* background-color: black; */
  padding: 3rem 10rem;
  box-sizing: border-box;
}

/* HEADER  */

.heading-primary {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  max-width: 50rem;
  margin: 2rem auto;

  &__top {
    font-size: 2.4rem;
    font-weight: 400;
    transform: translateX(-6rem);
    animation: moveInLeftTop 1.2s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    animation-delay: 0.3s;
  }

  &__main {
    font-size: 8rem;
    text-transform: uppercase;
    color: $color-blue-lighter;
    text-align: center;
    animation: moveInLeft 1s ease-out;
  }

  &__bottom {
    font-size: 2.4rem;
    font-weight: 400;
    transform: translateX(48rem);
    animation: moveInRightBottom 1.2s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
  }
}

.heading-secondary {
  display: flex;
  justify-content: center;
  // flex-direction: column;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  max-width: 50rem;
  margin: 8rem auto;
  letter-spacing: 0.64rem;
  font-size: 2.7rem;
  font-weight: 400;
  animation: moveInUp 1.5s ease-out;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

.heading-tetrtiary {
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1;
  max-width: 50rem;
  margin: 2rem auto 3rem auto;
  letter-spacing: 0.64rem;
  font-size: 2.7rem;
  font-weight: 400;
  text-align: center;
}

/* LATEST WORK  */

.latest-work {
  margin: 15rem 0;

  &__text {
    display: flex;
    // justify-content: center;
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    /* margin-bottom: 5%; */
    color: $color-grey;
  }
}

// POPUP TEXT

.popup {
  &__heading-text {
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    /* margin-bottom: 5%; */
    color: $color-grey;
  }
  &__cross {
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    /* margin-bottom: 5%; */
    color: $color-grey;
    text-decoration: none;
    &:hover {
      color: $color-blue-lighter;
    }
  }
}

// ABOUT

.who-we-are {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  max-width: 50rem;
  margin: 6.4rem auto;

  &__top {
    font-size: 2.8rem;
    font-weight: 400;
    transform: translateX(12rem);
  }

  &__main {
    font-size: 6.4rem;
    color: $color-blue-lighter;
    text-transform: uppercase;
    text-align: center;
  }

  &__bottom {
    text-align: right;
    font-size: 2.8rem;
    font-weight: 400;
    transform: translateX(-13rem);
  }
}

.about-text {
  margin: 15rem 0;

  &__border {
    border: 0.07rem solid $color-grey;
  }

  &__colored {
    font-size: 4rem;
    color: $color-blue-lighter;
    text-transform: uppercase;
    padding-right: 1rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.3rem;
    padding: 1rem;
  }
}

/* HR  */
.hr-circle {
  margin-top: 2%;
}
