// ⬇ Utility class. They are simple classes with a simple purpouses like to center the text⬇

.u-center-text {
  width: 35%;
  text-align: center;
  margin: auto;
}

//ask Sasha

// .u-center-element {
//   margin: auto;
// }
