// ⬇ Utility class. They are simple classes with a simple purpouses like to center the text⬇

.u-center-text {
  max-width: 35%;
  text-align: center;
  margin: auto;
}

.u-img-corners {
  border-radius: 0.7rem;
}
.u-img-padding {
  padding: 1rem;
}

.u-unstyled-link {
  list-style: none;
}

//ask Sasha

// .u-center-element {
//   margin: auto;
// }
